<body>
  <h2>Posts</h2>
  {{#if posts.length}}
  {{#each posts as |post| }}
  <div class="row mb-4 post">
    <div class="col-md-12">
         <div class="post-header">
      <h2>
        <a href="/post/{{post.id}}">{{post.title}}</a>
      </h2>
      <p class="posted-by">
        Posted by {{post.user.username}} on {{format_date post.createdAt}}
      </p>
         </div>
      <p class="post-content">{{post.content}}</p>
    </div>
  </div>
  {{/each}}
{{else}}
  <p>No posts available yet. Be the first to write one!</p>
{{/if}}
<script src="/js/comments.js"></script>
</body>